html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#main-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#main-wrapper #app-bar {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
}

#main-wrapper #app-bar .buttons {
    width: fit-content;
    white-space: nowrap;
    height: 100%;
    display: flex;
}

#main-wrapper #app-bar .buttons button {
    width: 45px;
    height: 100%;
    font-size: 1rem;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    transition: background 150ms ease-in-out, color 150ms ease-in-out, border-radius 170ms ease-in-out;
    outline: none;
}

#main-wrapper #app-bar .buttons button:hover {
    background: rgba(0,0,0,0.2);
    border-radius: 0.7rem;
}

#main-wrapper #app-bar .buttons button.close:hover {
    background: #E81123;
    color: white;
}

#main-wrapper #app-bar .left {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

#main-wrapper #main-content #sidebar .buttons {
    width: fit-content;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

#main-wrapper #main-content #sidebar .buttons button {
    width: 70%;
    height: 50px;
    border: none;
    padding: 0;
    background: transparent;
    border-radius: 0 0.8rem 0.8rem 0;
    cursor: pointer;
    transition: background 150ms ease-in-out, box-shadow 150ms ease-in-out, width 50ms ease-in-out;
}

#main-wrapper #main-content #sidebar .buttons button:hover {
    background: rgba(0,0,0,0.05);
}


#main-wrapper #main-content #sidebar .buttons button img {
    background: transparent;
    height: 70%;
    width: auto;
    display: block;
    margin: auto;
    transition: all 150ms ease-in-out;
}

#main-wrapper #main-content #sidebar .buttons button:hover img {
    animation: icon-pop 200ms ease-in-out;
}


@keyframes icon-pop {
    0% {transform: translate(0,0)}
    50% {transform: translate(0,-3px)}
    100% {transform: translate(0,0)}
}


#main-wrapper #main-content #sidebar .buttons button.selected {
    background: #ACDDDE;
    width: 80%;
    box-shadow:
    1.4px 1.4px 2.2px rgba(0, 0, 0, 0.02),
    3.3px 3.3px 5.3px rgba(0, 0, 0, 0.028),
    6.3px 6.1px 10px rgba(0, 0, 0, 0.035),
    11.2px 10.9px 17.9px rgba(0, 0, 0, 0.042),
    20.9px 20.5px 33.4px rgba(0, 0, 0, 0.05),
    50px 49px 80px rgba(0, 0, 0, 0.07)
  ;
}

#main-wrapper #main-content #sidebar .buttons button.selected img {
    filter: invert(100%);
}


#main-wrapper #main-content #sidebar .buttons button.selected::before {
    position: absolute;
    top: -100%;
    height: 0.8rem;
}


#main-wrapper #main-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    
}

#main-wrapper #main-content #sidebar {
    height: 100%;
    width: 80px;
}

#main-wrapper #main-content .content {
    width: 100%;
    height: 100%;
}

#main-wrapper #main-content .content > div {
    height: 100%;
    width: 100%;
    animation: page-show 250ms ease-in-out;
}

@keyframes page-show {
    from {transform: translate(0,10%)}
    to {transform: translate(0,0)}
}


#main-wrapper #main-content .content > div.show {
    display: block;
}

#main-wrapper #main-content .content > div:not(.show) {
    display: none;
}   


.layered-shadow {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

#page-wrapper {
    height: 100%;
    width: 100%;
}