html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#main-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#main-wrapper #app-bar {
    width: 100%;
    height: 30px;
    background: lightgoldenrodyellow;
    display: flex;
    flex-direction: row;
}

#main-wrapper #app-bar .buttons {
    width: fit-content;
    white-space: nowrap;
    height: 100%;
    display: flex;
}

#main-wrapper #app-bar .buttons button {
    width: 45px;
    height: 100%;
    font-size: 1rem;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    transition: background 150ms ease-in-out, color 150ms ease-in-out, border-radius 170ms ease-in-out;
    outline: none;
}

#main-wrapper #app-bar .buttons button:hover {
    background: rgba(0,0,0,0.2);
    border-radius: 0.7rem;
}

#main-wrapper #app-bar .buttons button.close:hover {
    background: #E81123;
    color: white;
}

#main-wrapper #app-bar .left {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

#main-wrapper #main-content #sidebar .buttons {
    width: fit-content;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#main-wrapper #main-content #sidebar .buttons button {
    width: 100%;
    aspect-ratio: 1;
    border: none;
    stroke: white;
}

#main-wrapper #main-content #sidebar .buttons button.graphs {
    background: url("../images/icons/graphs.svg");
}


#main-wrapper #main-content #sidebar .buttons button.search {
    background: url("../images/icons/search.svg");
}


#main-wrapper #main-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    
}

#main-wrapper #main-content #sidebar {
    background: lightcyan;
    height: 100%;
    width: 50px;
}

#main-wrapper #main-content .content {
    width: 100%;
    height: 100%;
}
